.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media print {
  /* Force exact paper width for thermal */
  @page {
    size: 80mm auto;
    margin: 0; /* remove default browser margins */
  }

  /* Fix body & receipt wrapper */
  body,
  .receipt-preview {
    width: 80mm !important;
    max-width: 80mm !important;
    margin: 0 !important;
    padding: 0 !important;
    background: #fff !important;
    box-shadow: none !important;
    border: none !important;
  }

  /* Remove extra padding on inner elements */
  .receipt-preview * {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal !important; /* avoid bolding issue */
  }
}
.alert-success {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
