body,
html {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.accordion-button:focus {
  box-shadow: none !important;
}
@media print {
  .receipt-preview {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    width: 80mm !important;
    background: #fff !important;
  }
}
.alert-success {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 1000;
  width: fit-content;
}
/* Menu Css */
.card-main {
  min-height: 155px;
  cursor: pointer;
}
.card-main:hover {
  background-color: #b8b8b8 !important;
}
.card-main strong {
  max-height: 60px;
  display: inline-block;
}
.hover-icons {
  visibility: hidden;
}

.card-main:hover .hover-icons {
  visibility: visible;
}

.d-hover-inline {
  display: none;
}
.icons-main {
  top: 5px;
  right: 5px;
}
.category-box:hover .d-hover-inline {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.sub-category-icon {
  width: 20px;
  height: 20px;
}
.menu-main {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
  padding: 0 10px 20px 0px;
}
.item-list-main {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  padding: 20px 0 20px 0;
  position: relative;
  z-index: 9;
}
.menu-main::-webkit-scrollbar,
.item-main::-webkit-scrollbar {
  width: 6px;
}

.menu-main::-webkit-scrollbar-track,
.item-main::-webkit-scrollbar-track {
  background: #cacaca;
  border-radius: 10px;
}

.menu-main::-webkit-scrollbar-thumb,
.item-main::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}
.total_box {
  position: fixed;
  width: 33%;
  bottom: 0px;
  right: 0px;
  background: #efefef;
  padding: 20px;
}
.custom-cart-btn {
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-main {
  height: 65%;
  overflow-y: auto;
  overflow-x: hidden;
}
.table-main {
  max-height: 500px;
  overflow-y: auto;
}
