body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media print {
  .receipt-preview {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    width: 80mm !important;
    background: #fff !important;
  }
}

.alert-success {
  position: absolute;
  top: 10px;
  right: 50px;
  z-index: 1000;
}